@model IEnumerable<WebScanner.DAL.UrlScan>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        <p>
            <div class="container">
                <a class="btn btn-info" role="button" href="Update">Update</a>
                <a class="btn btn-warning" role="button" href="Pause">Pause</a>
                <a class="btn btn-primary" role="button" href="Resume">Resume</a>
                <a class="btn btn-danger" role="button" href="Stop">Stop</a>
            </div>
        </p>        
        <div class="container">
            <h3>Scanning Monitor</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Url</th>
                        <th>ScanStatus</th>
                        <th>DateStart</th>
                        <th>DateEnd</th>
                        <th>FailureReason</th>
                        <th>UrlParent</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (WebScanner.DAL.UrlScan urlScan in Model)
                    {
                        var scanStatus = urlScan.ScanStatus;
                        var rowStyle = string.Empty;

                        switch (scanStatus)
                        {
                            case WebScanner.DAL.ScanStatus.Found:
                                {
                                    rowStyle = "success";
                                    break;
                                }
                            case WebScanner.DAL.ScanStatus.Loading:
                                {
                                    rowStyle = "info";
                                    break;
                                }
                            case WebScanner.DAL.ScanStatus.Failure:
                                {
                                    rowStyle = "danger";
                                    break;
                                }
                            case WebScanner.DAL.ScanStatus.NotFound:
                                {
                                    rowStyle = "warning";
                                    break;
                                }
                            default:
                                {
                                    rowStyle = "active";
                                    break;
                                }
                        }

                        <tr class="@rowStyle">
                            <th>@urlScan.Id</th>
                            <td>@urlScan.Url</td>
                            <td>@urlScan.ScanStatus</td>
                            <td>@urlScan.DateStart</td>
                            <td>@urlScan.DateEnd</td>
                            <td>@urlScan.FailureReason</td>
                            <td>@urlScan.UrlParent</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>